<!--
  Generated template for the Q page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color>

  <ion-navbar hideBackButton="true">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content xela [attr.is-correct]="isNextButton">
  <div [attr.overlay]="isNextButton"></div>
  <!-- QUESTION -->
  <!-- If Type is M1 -->
    <ion-card *ngIf="question_type == 1" sticky-center m [ngStyle]="{'background': 'url('+question_content+')'}">
      <!-- <img [src]="question_content" alt=""> -->
    </ion-card>
  <!-- END If Type is M1 -->
  <!-- If Type is M2 -->
    <ion-card *ngIf="question_type == 2" sticky-center m2 style="background: url('assets/img/question.png')">
      <!-- <img src="assets/img/question.png" alt=""> -->
    </ion-card>
  <!-- END If Type is M2 -->
  <!-- If Type is M3 -->
    <ion-card *ngIf="question_type == 3" sticky-center m1>
      <!-- <img src="assets/img/white.jpg"/> -->
      <div class="card-title">{{ question_content }}</div>
    </ion-card>
  <!-- END If Type is M3 -->

  <ion-grid [attr.is-next]="isNextButton" *ngIf="isNextButton">
    <!-- Next Question -->
    <ion-row [attr.wrap]="isWrap" >
      <ion-col width-100>
        <button ion-button block color="secondary" isNextButton (click)="question_next(id+1)">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ANSWER -->
  <!-- If Type is M1 and M2 -->
    <ion-grid sticky-bottom *ngIf="question_type != 3">

      <!-- Next Question -->
      <!-- <ion-row [attr.wrap]="isWrap" *ngIf="isNextButton">
        <ion-col width-100>
          <button ion-button block color="secondary" isNextButton (click)="question_next(id+1)">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row> -->

      <ion-row [attr.wrap]="isWrap" M12>
        <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice1">
          <button ion-button block color-1 (click)="answer(1)">{{ choice_1 }}</button>
        </ion-col>
        <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice2">
          <button ion-button block color-2 (click)="answer(2)">{{ choice_2 }}</button>
        </ion-col>
        <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice3">
          <button ion-button block color-3 (click)="answer(3)">{{ choice_3 }}</button>
        </ion-col>
        <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice4">
          <button ion-button block color-4 (click)="answer(4)">{{ choice_4 }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END If Type is M1 and M2 -->

  <!-- If Type is M3 -->
    <ion-grid sticky-bottom [attr.is-correct]="isNextButton" *ngIf="question_type == 3">

      <!-- Next Question -->
      <!-- <ion-row [attr.wrap]="isWrap" *ngIf="isNextButton">
        <ion-col width-100>
          <button ion-button block color="secondary" isNextButton (click)="question_next(id+1)">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row> -->

      <ion-row [attr.wrap]="isWrap">
          <ion-col color-1 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice1">
            <ion-card sticky-center m3 (click)="answer(1)">
              <img [src]="choice_1"/>
            </ion-card>
          </ion-col>
          <ion-col color-2 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice2">
            <ion-card sticky-center m3 (click)="answer(2)">
              <img [src]="choice_2"/>
            </ion-card>
          </ion-col>
          <ion-col color-3 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice3">
            <ion-card sticky-center m3 (click)="answer(3)">
              <img [src]="choice_3"/>
            </ion-card>
          </ion-col>
          <ion-col color-4 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice4">
            <ion-card sticky-center m3 (click)="answer(4)">
              <img [src]="choice_4"/>
            </ion-card>
          </ion-col>

          <!-- Next Question -->
          <!-- <ion-col width-100 *ngIf="isNextButton" (click)="question_next(id+1)" >
            <button ion-button block color-4 m3>
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </ion-col> -->
      </ion-row>
    </ion-grid>
  <!-- END If Type is M3 -->

</ion-content>

<ion-footer color>
  <ion-toolbar>
    <button ion-button clear (click)="popToRoot()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <button ion-button clear (click)="replay()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    <button ion-button clear (click)="exit()">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
