<!--
  Generated template for the Q page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color>

  <ion-navbar hideBackButton="true">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content xela [attr.is-correct]="isNextButton">

  <unit audio-1="M1.mp3" audio-2="" *ngIf="question_id == 'L3P36Q1'">
    <div [attr.overlay]="isNextButton"></div>

    <!-- <ion-card sticky-center m [ngStyle]="{'background': 'url('L3.3P36.jpg')'}"></ion-card> -->

    <ion-grid [attr.is-next]="isNextButton" *ngIf="isNextButton">
      <ion-row [attr.wrap]="isWrap" >
        <ion-col width-100>
          <button ion-button block color="secondary" isNextButton (click)="question_next('L3P36Q2')">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid sticky-bottom choice-correct-answer="correct.mp3" choice-wrong-answer="wrong.mp3">
      <ion-row [attr.wrap]="isWrap" M12>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice1">
            <button ion-button block color-1 choice-1-audio="L3P36_1.mp3" (click)="answer(3, 1)">ផែ</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice2">
            <button ion-button block color-2 choice-2-audio="L3P36_2.mp3" (click)="answer(3, 2)">ផៃ</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice3">
            <button ion-button block color-3 choice-3-audio="L3P36_3.mp3" (click)="answer(3, 3)">ផេះ</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice4">
            <button ion-button block color-4 choice-4-audio="L3P36_4.mp3" (click)="answer(3, 4)">ថែ</button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </unit>

  <unit audio-1="M2.mp3" audio-2="L3P36_5.mp3" *ngIf="question_id == 'L3P36Q2'">
    <div [attr.overlay]="isNextButton"></div>

    <!-- <ion-card sticky-center m [ngStyle]="{'background': 'url('question.jpg')'}"></ion-card> -->

    <ion-grid [attr.is-next]="isNextButton" *ngIf="isNextButton">
      <ion-row [attr.wrap]="isWrap" >
        <ion-col width-100>
          <button ion-button block color="secondary" isNextButton (click)="question_next('L3P36Q3')">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid sticky-bottom choice-correct-answer="correct.mp3" choice-wrong-answer="wrong.mp3">
      <ion-row [attr.wrap]="isWrap" M12>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice1">
            <button ion-button block color-1 choice-1-audio="L3P36_6.mp3" (click)="answer(4, 1)">ដំបៅ</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice2">
            <button ion-button block color-2 choice-2-audio="L3P36_7.mp3" (click)="answer(4, 2)">បបរ</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice3">
            <button ion-button block color-3 choice-3-audio="L3P36_8.mp3" (click)="answer(4, 3)">សរសរ</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice4">
            <button ion-button block color-4 choice-4-audio="L3P36_5.mp3" (click)="answer(4, 4)">ថៅកែ</button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </unit>

  <unit audio-1="M3.mp3" audio-2="" *ngIf="question_id == 'L3P36Q3'">
    <div [attr.overlay]="isNextButton"></div>

    <ion-card sticky-center m1>
      <div class="card-title">សរសេរ</div>
    </ion-card>

    <ion-grid [attr.is-next]="isNextButton" *ngIf="isNextButton">
      <ion-row [attr.wrap]="isWrap" >
        <ion-col width-100>
          <button ion-button block color="secondary" isNextButton (click)="question_next('L3P36Q4')">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid sticky-bottom choice-correct-answer="correct.mp3" choice-wrong-answer="wrong.mp3">
      <ion-row [attr.wrap]="isWrap">
          <ion-col color-1 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice1">
            <ion-card sticky-center m3 choice-1-audio="L3P36_9.mp3" (click)="answer(3, 1)">
              <!-- <img [src]="L3.1P36.jpg"/> -->
            </ion-card>
          </ion-col>
          <ion-col color-2 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice2">
            <ion-card sticky-center m3 choice-2-audio="L3P36_3.mp3" (click)="answer(3, 2)">
              <!-- <img [src]="L3.3P36.jpg"/> -->
            </ion-card>
          </ion-col>
          <ion-col color-3 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice3">
            <ion-card sticky-center m3 choice-3-audio="L3P36_11.mp3" (click)="answer(3, 3)">
              <!-- <img [src]="L3.4P36.jpg"/> -->
            </ion-card>
          </ion-col>
          <ion-col color-4 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice4">
            <ion-card sticky-center m3 choice-4-audio="L3P36_12.mp3" (click)="answer(3, 4)">
              <!-- <img [src]="L3.2P36.jpg"/> -->
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
  </unit>

  <unit audio-1="M1.mp3" audio-2="" *ngIf="question_id == 'L3P36Q4'">
    <div [attr.overlay]="isNextButton"></div>

    <!-- <ion-card sticky-center m [ngStyle]="{'background': 'url('L3.2P36.jpg')'}"></ion-card> -->

    <ion-grid [attr.is-next]="isNextButton" *ngIf="isNextButton">
      <ion-row [attr.wrap]="isWrap" >
        <ion-col width-100>
          <button ion-button block color="secondary" isNextButton (click)="question_next('L3P36Q5')">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid sticky-bottom choice-correct-answer="correct.mp3" choice-wrong-answer="wrong.mp3">
      <ion-row [attr.wrap]="isWrap" M12>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice1">
            <button ion-button block color-1 choice-1-audio="L3P36_12.mp3" (click)="answer(1, 1)">បបរគ្រឿង</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice2">
            <button ion-button block color-2 choice-2-audio="L3P36_13.mp3" (click)="answer(1, 2)">សរសើរ</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice3">
            <button ion-button block color-3 choice-3-audio="L3P36_14.mp3" (click)="answer(1, 3)">បី</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice4">
            <button ion-button block color-4 choice-4-audio="L3P36_6.mp3" (click)="answer(1, 4)">ដំបៅ</button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </unit>

  <unit audio-1="M2.mp3" audio-2="L3P36_13.mp3" *ngIf="question_id == 'L3P36Q5'">
    <div [attr.overlay]="isNextButton"></div>

    <!-- <ion-card sticky-center m [ngStyle]="{'background': 'url('question.jpg')'}"></ion-card> -->

    <ion-grid [attr.is-next]="isNextButton" *ngIf="isNextButton">
      <ion-row [attr.wrap]="isWrap" >
        <ion-col width-100>
          <button ion-button block color="secondary" isNextButton (click)="question_next('L3P36Q6')">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid sticky-bottom choice-correct-answer="correct.mp3" choice-wrong-answer="wrong.mp3">
      <ion-row [attr.wrap]="isWrap" M12>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice1">
            <button ion-button block color-1 choice-1-audio="L3P36_4.mp3" (click)="answer(2, 1)">ថែ</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice2">
            <button ion-button block color-2 choice-2-audio="L3P36_13.mp3" (click)="answer(2, 2)">សរសើរ</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice3">
            <button ion-button block color-3 choice-3-audio="L3P36_5.mp3" (click)="answer(2, 3)">ថៅកែ</button>
          </ion-col>
          <ion-col [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice4">
            <button ion-button block color-4 choice-4-audio="L3P36_8.mp3" (click)="answer(2, 4)">សសរ</button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </unit>

  <unit audio-1="M3.mp3" audio-2="" *ngIf="question_id == 'L3P36Q6'">
    <div [attr.overlay]="isNextButton"></div>

    <ion-card sticky-center m1>
      <div class="card-title">ថូ</div>
    </ion-card>

    <ion-grid [attr.is-next]="isNextButton" *ngIf="isNextButton">
      <ion-row [attr.wrap]="isWrap" >
        <ion-col width-100>
          <button ion-button block color="secondary" isNextButton (click)="question_next('L3P37Q1')">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid sticky-bottom choice-correct-answer="correct.mp3" choice-wrong-answer="wrong.mp3">
      <ion-row [attr.wrap]="isWrap">
          <ion-col color-1 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice1">
            <ion-card sticky-center m3 choice-1-audio="L3P36_9.mp3" (click)="answer(3, 1)">
              <!-- <img [src]="L3.1P36.jpg"/> -->
            </ion-card>
          </ion-col>
          <ion-col color-2 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice2">
            <ion-card sticky-center m3 choice-2-audio="L3P36_12.mp3" (click)="answer(3, 2)">
              <!-- <img [src]="L3.2P36.jpg"/> -->
            </ion-card>
          </ion-col>
          <ion-col color-3 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice3">
            <ion-card sticky-center m3 choice-3-audio="L3P36_3.mp3" (click)="answer(3, 3)">
              <!-- <img [src]="L3.3P36.jpg"/> -->
            </ion-card>
          </ion-col>
          <ion-col color-4 [attr.width-50]="isWidth50" [attr.width-100]="isWidth100" *ngIf="isChoice4">
            <ion-card sticky-center m3 choice-4-audio="L3P36_8.mp3" (click)="answer(3, 4)">
              <!-- <img [src]="L3.4P36.jpg"/> -->
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
  </unit>

</ion-content>

<ion-footer color>
  <ion-toolbar>
    <button ion-button clear (click)="popToRoot()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <button ion-button clear (click)="replay()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    <button ion-button clear (click)="exit()">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
