// Variable
$eyeCandy: #19A15F #4C8CF5 #DE5347 #FFCE43;
$eyeCandy3DHighligh: #4C8CF5;

$primary_background_color: #fff;
$secondary_background_color: #42A5F5;

page-question {
  .scroll-content {
    overflow-y: hidden;
  }
}

[xela-app] {
  [ion-button] {
    font-size: 3em;
    padding: 50px 20px;
    span {
      margin-top: 0;
      padding-top: 0;
      display: block;
      text-align: center;
    }
    &[withText] {
      padding: 15px 10px;
      height: 100px;
      text-align: center;
      .text {
        display: block;
        font-size: 0.5em;
        padding-top: 5px;
        padding-bottom: 10px;
      }
      .number {
        display: block;
        font-size: 3rem;
      }
    }
  }
} // [xela-app]

[xela] {
  background-color: $primary_background_color;
  ion-col {
    padding: 0;
    margin: 0;
  }
  [ion-button] {
    // padding: 58px 0;
    font-size: 2.3em;
    margin: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
  }

  [sticky-center] {
    &[m] {
      min-height: 50%;
      background-size: cover !important;
      background-position: 50% 50% !important;
      img {
        // min-height: 50%;
        // position: absolute;
        // left: 2% !important;
        // width: 96% !important;
        // top: 10%;
        // transform: translateY(-5%);
      }
    }

    &[m1] {
      min-height: 45%;
      background-color: indianred;
      position: relative;
      ion-card {
        text-align: center;

      }
      .card-title {
        position: absolute;
        top: 50%;
        font-size: 6em;
        width: 100%;
        // font-weight: bold;
        text-align: center;
        color: #000;
        left: 0;
        transform: translateY(-50%);
      }
    }

    &[m2] {
      // text-align: center;
      min-height: 50%;
      box-shadow: none;
      background-size: contain !important;
      background-position: 50% 50% !important;
      background-repeat: no-repeat !important;

      img {
        height: 220px;
        width: auto;
        margin: 0 auto;
      }
    }

  }
  [sticky-bottom] {
    // position: absolute;
    // left: 0;
    // bottom: 5px;
    min-height: 47%;

    [width-50] {
      [ion-button] {
        padding: 33% 0;
      }
    }

    [width-100] {
      [ion-button] {
        font-size: 5em;
        padding: 33% 0;
        transition: all 1s;

        &[m3] {
          padding: 37% 0;
        }

        &[isNextButton] {
          position: relative;
          z-index: 30;
          font-size: 4em;
          padding: 13% 0;
          // box-shadow: 1px 1px solid black;
          // font-size: 0;
          // padding: 0 0;
          // height: 0;
          animation: revealNextButton 1s;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);

        }
      }

      ion-card {
        img {
          height: 240px;
          transition: all 1s;
        }
      }
    }
  }

  ion-card {
    &[m3] {
      img {
        height: 110px;
        // height: 120px;
        width: auto !important;
        margin: 0 auto !important;
      }
    }
  }

} // [xela]

[color] {
  .toolbar {
    .toolbar-background {
      background-color: $secondary_background_color;
    }
    ion-icon {
      color: #fff;
    }
  }
}

ion-toolbar {
  text-align: center;
  [ion-button] {
    ion-icon {
      font-size: 2.2em;
    }
    &:first-child {
      margin-right: 60px;
    }
    &:last-child {
      margin-left: 60px;
    }
  }
}

[overlay="true"] {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  transition: background-color 1s;
}

[is-correct="true"] {
  ion-card[sticky-center] {
    min-height: 38% !important;
    box-shadow: none;
    background-color: transparent !important;
    transition: all 0.7s;
  }
  [isNextButton] {
    position: relative;
    z-index: 30;
    font-size: 4em;
    padding: 15% 0;
    border-radius: 3px;
    // box-shadow: 1px 1px solid black;
    // font-size: 0;
    // padding: 0 0;
    // height: 0;
    animation: revealNextButton 1s;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.14), 0 6px 1px -2px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  [M12] {
    [width-100] {
      [ion-button] {
        font-size: 4.5em;
        padding: 26% 0;
        transition: padding 0.7s;
        background-color: transparent;
        transition: background-color 3s;
      }
    }
  }
  [width-100] {
    background-color: transparent;
    transition: background-color 3s;
    ion-card {
      height: 64%;
      transition: height 1s;
      // height: 145px;
    }
  }
}

// .back-button {
//   display: none !important;
// }

@each $color in $eyeCandy {
  $i: index($eyeCandy, $color);
  [color-#{$i}] {
    background-color: $color;
    color: #222;
  }
}


@each $color in $eyeCandy {
  $i: index($eyeCandy, $color);
  [sbtn-color-#{$i}] {
    background-color: $color;
    color: #222;
  }
}

// Keyframe
@keyframes revealNextButton {
  0% {
    font-size: 0;
    padding: 0 0;
    height: 0;
    width: 100%;
    box-shadow: none;
  }
  70%, 100% {
    font-size: 4em;
    padding: 15% 0;
    box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.14), 0 6px 1px -2px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
